.navbar-custom{
  position: absolute;
  top:0;
  width:100%;

}
/*Added Header*/
header{
  background-image: url(../images/indexImage.png);
  /*background-color: red;*/
  width:100%;
  height:300px;
}

.navbar a{
  color: white;
  font-weight: bold !important;
}

.navbar li a:hover{
  color: brown;

}
